body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #2e2c2c 0%, black 100%);
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1500px;
    background-color: #EEEBDD;
    margin: auto;
    color: #EEEBDD;
}
header{
    background-image: url("../images/sliced-meat-barbecue-served-with-onion-and-sea-salt.jpg");
    background-size: cover;
    background-position: left;
    height: 450px;
    border-radius: 0 0 20px 20px;
}
.header-content{
    margin-top: 200px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
nav{
    background: #0000009d;
    background-blend-mode: lighten;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}
nav a{
    color: #EEEBDD;
    text-decoration: none;
}
.logo{
    width: 75px;
    position: relative;
    left: 100px;
    top: 10px;
}
.menu{
    overflow: hidden;
    float: right;
    margin-top: 30px;
}
.menu li{
    margin-top: 10px;
    display: inline-block;
    margin-right: 24px;
}
.menu li:hover{
    border-bottom: 1px solid#EEEBDD;
}
.gallery{
    width: 100%;
    background: #EEEBDD;
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 50px;
}
.gallery-content{
    float: left;
    color: black;
    margin-top: 50px;
    margin-left: 200px;
    max-width: 500px;
}
.gallery-photos{
    max-width: 600px;
    float: right;
}
.gallery-photos img{
    width: 250px;
}
.alt{
    height: 167px;
}
.local{
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    max-width: 50%;
    background: #630000;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 0 20px 20px 0;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.452);
}
.promocoes{
    padding: 20px;
    max-width: 50%;
    height: 800px;
    background: #630000;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: 50%;
    border-radius: 20px 0 0 20px;
    box-shadow: -1px 3px rgba(0, 0, 0, 0.452);
    text-align: center;
}
.promo img{
    width: 400px;
}
.instagram{ 
    position: relative;
    width:200px; height:50px;
    background: #f09433; 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    border-radius: 20px;
    overflow: hidden;
    padding: 5px;
    margin-left: 250px;
    }
.instagram:hover{
    border: 1px solid white;
}
.instagram p{
    line-height: 20px;
}
.instagram ion-icon{
    top: 3px;
    position: relative;
}
a{
    color: #EEEBDD;
    text-decoration: none;
}
/*tendeu, mo, vc ta bem cmg msm? to vida, é q td bem q eu enr